/*Main navigation styles*/
nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    width: 100px;

}

nav ul a {
    text-decoration: none;
}

nav ul a:hover {
    background-color: rebeccapurple;
    color: whitesmoke;
    text-decoration: none;
}

nav .activeRoute {
    border-bottom: 3px solid #09d3ac;
}
