/* SassComponent.scss - a Sass file,
  to be compiled/transpiled to plain CSS by CRA */

// 1. Variables for the different header colors
$header1: #c1ab99;
$header2: #ae8360;
$header3: #b15145;
$forecolor: #fff9ff;

// Default styles
.header {
  width: 100%;
  height: 50px;
}
//Use the variables
.header1 {
  background-color: $header1;
  color: $forecolor
}

.header2 {
  background-color: $header2;
  color: $forecolor
}

.header3 {
  background-color: $header3;
  color: $forecolor
}

// 2. Nesting
nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    border-bottom: 4px solid $header3;
}

  li {
    display: inline-block;
}

  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
    color: $header1
}

  a:hover {
    background-color: $header1;
    color: $forecolor;
}
}
